* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial;
    background-color: #f1f1f1;
}

.top {
    margin: 20px;
}

header {
    text-align: center;
    line-height: 70px;
    font-size: larger;
    background-color: white;
    padding: 30px;
}

.navbar {
    background-color: white;
}

.navbar ul{
    list-style-type: none;
    background-color: #333;
    overflow: hidden;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: #f2f2f2;
    color: black;
}

.navbar li{
    float: left;
}

.left {
    background-color: white;
    margin: 0 20px;
    width: 70%;
    padding: 20px;
    height: 500px;
    line-height: 40px;
    float: left;
}

.left .empty-img {
    background-color: #aaaaaa;
    width: 100%;
    padding: 30px;
    height: 200px;
}

.right {
    width: 25%;
    background-color: white;
    height: 300px;
    float: right;
    margin-right: 20px;
}

@media screen and (max-width: 800px) {
    .left , .right {   
      width: 100%;
      padding: 0;
    }
  }